<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper의 FQCN(Fully Qualified Class Name)을 namespace으로 한다.
	# FQCN(Fully Qualified Class Name) : 클래스가 속한 패키지명을 모두 포함한 이름
	# Alias Name : String s = new String();
	# FQCN : java.lang.String s = new java.lang.String(); -->
<mapper namespace="com.test.mymall.dao.MemberMapper">
	<select id="selectMemberList" resultType="com.test.mymall.vo.Member">
		SELECT
		no as no
		FROM member
	</select>
	
	<!-- 회원탈퇴하는 delete	-->
	<select id="deleteMember" parameterType="int">
		DELETE FROM member WHERE no=#{no}
	</select>
	
	<!-- 회원탈퇴 전, pw와 no를 받아 일치하는 데이터가 있는지 조회하는 select	-->
	<select id="selectForPasswordCheckBeforeRemove" parameterType="com.test.mymall.vo.Member" resultType="com.test.mymall.vo.Member">
		SELECT no as no FROM member WHERE no=#{no} AND pw=#{pw}
	</select>
	
	<!-- 회원정보 수정하는 update -->
	<update id="updateMember" parameterType="com.test.mymall.vo.Member" >
		UPDATE member SET pw=#{pw} WHERE no=#{no}
	</update>
	
	<!-- 회원정보 수정 전, pw와 no를 받아 일치하는 데이터가 있는지 조회하는 select	-->
	<select id="selectForPasswordCheck" parameterType="com.test.mymall.vo.Member" resultType="com.test.mymall.vo.Member">
		SELECT no as no, id as id, level as level FROM member WHERE no=#{no} AND pw=#{pw}
	</select>
	
	<!-- 특정 회원의 정보를 조회하기위한 select	-->
	<select id="selectOneMember" parameterType="int" resultType="com.test.mymall.vo.Member">
		SELECT no as no, id as id, pw as pw, level as level FROM member WHERE no=#{no}
	</select>

	<!-- 로그인 처리를 위해 입력데이터를 대조하기위한 select -->
	<select id="selectMemberForLogin" resultType="com.test.mymall.vo.Member">
		SELECT no as no, id as id, level as level FROM member WHERE id=#{id} AND pw=#{pw}
	</select>
	
	<!-- 회원가입 insert -->
	<insert id="insertMember" parameterType="com.test.mymall.vo.Member">
		<!-- 컬럼명 다 적기 -->
		INSERT INTO member(id, pw, level) VALUES (#{id}, #{pw}, #{level})
		<!-- stmt.setInt(1, member.getNo()) 포함	-->
	</insert>
</mapper>